<!DOCTYPE html>
<html lang="en">
  {% include "_header.liquid" %}
  <body class="bg-neutral-900 text-neutral-200 underline-offset-4 flex flex-col justify-between !font-normal">
    {{ content }}
    <footer class="flex-shrink-0 flex flex-row border-t text-center border-neutral-700 align-middle justify-center">
      <p class="p-2 pr-4">Read more
        <a class="arrow-external" href="https://pbossev.pages.dev/">About Me</a>
      </p>
      <p class="p-2 pl-4 border-l border-neutral-700">
        <a href="https://github.com/pbossev/pbsv.photo/" class="arrow-external">Source</a>
      </p>
    </footer>
    {{ scripts }}
  </body>
</html>